<header>
    <nav>
        <ul>
            <li>
                <a href="musica">Musica</a>
            </li>
            <li>
                <a href="television">television</a>
            </li>
            <li>
                <a [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a [routerLink]="['/cine']">Cine</a>
            </li>
            <li>
                <a [routerLink]="['/numerodoble']">NumeroDoble</a>
            </li>
            <li>
                <a [routerLink]="['/numerodoble/12']">NumeroDoble 12</a>
            </li>
        </ul>
    </nav>
</header>