<p>empleados-oficio works!</p>

<form #oficiosForm="ngForm">
  <select #selectoficio name="selectoficio" cclass="form-control">
    <ng-container *ngFor="let ofi of oficios">
      <option value="{{ ofi }}">{{ ofi }}</option>
    </ng-container>
  </select>
  <br />
  <button (click)="buscarEmpleadoDepartamento()" class="btn btn-success">
    Buscar
  </button>
</form>

<div *ngIf="empleados.length > 0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Salario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empleados">
        <td>{{ emp.apellido }}</td>
        <td>{{ emp.salario }}</td>
      </tr>
    </tbody>
  </table>
</div>
