<p>empleados-oficio works!</p>

<select>
    <option *ngFor="let ofi of oficios" value={{ofi}} #cajadepartamento name="cajadepartamento">{{ofi}}</option>
</select>
<br />
<button (click)="buscarEmpleadoDepartamento()" class="btn btn-success">Buscar</button>
<div *ngIf="empleados.length>0">
    <table>
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Salario></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empleados">
                <td>{{emp.apellido}}</td>
                <td>{{emp.salario}}</td>
            </tr>
        </tbody>
    </table>
</div>