<h1>Hola</h1>
<div *ngIf="hospitales.length > 0">
  <table class="table table-dark">
    <thead>
      <tr>
        <td>id</td>
        <td>Nombre</td>
        <td>Direccion</td>
        <td>Telefono</td>
        <td>Camas</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hosp of hospitales">
        <td>{{ hosp.idhospital }}</td>
        <td>{{ hosp.nombre }}</td>
        <td>{{ hosp.direccion }}</td>
        <td>{{ hosp.telefono }}</td>
        <td>{{ hosp.camas }}</td>
        <td>
          <a
            [routerLink]="['/modificar', hosp.idhospital]"
            class="btn btn-warning"
            >Modificar</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
